.primary-button-big {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 0.813rem;
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}
